body {
    background-color: lightgray;
    text-size: 18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
}
.container {
    background-color: #fff;
    margin: 50px auto 0 auto;
    padding: 0;
    width: 800px;
    border: 2px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -2px 2px 10px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px 2px 10px -1px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 2px 10px -1px rgba(0, 0, 0, 0.5);
}
.header {
    display: block;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;
}
.smiley {
    background-image: url("../images/mad-lib-happy-face.png");
    background-position: center;
    background-size: 90px;
    display: inline-block;
    height: 150px;
    width: 25%;
    background-repeat: no-repeat;
    border-right: 2px solid black;
    float: left;
}
.logo {
    background-image: url("../images/ng-mad-libs-logo.png");
    background-position: top;
    background-size: 150px;
    display: inline-block;
    height: 120px;
    width: 70%;
    background-repeat: no-repeat;
    float: left;
    text-align: center;
    margin-top: 30px;
}
h1 {
    font-size: 40px;
}
.user-inputs {
  text-align: center;
  padding: 0 0 30px 0;
}
.radio-button {
  padding-left: 20px;
}
input[type="radio"] {
  margin-right: 8px;
}
button {
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  color: #fff;
  border: 1px solid black;
  background-color: red;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.mad-libs {
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
.text-inputs {
  padding: 0 20px 0 20px;
}
.text-inputs input {
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 5px;
    font-size: 16px;
    width: 100%;
}
.errorMsg, .gender-error {
    color: red;
    font-size: 14px;
}
.errorMsg {
  text-align: left;
}
footer {
    border-top: 2px solid black;
    text-align: center;
    padding: 30px 0 30px 0;
    font-size: 13px;
}
.pronouns {
  color: #777;
}
@media only screen and (max-width: 850px) {
  .container {
    width: 100%;
    border: none;
    margin: 0 auto;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}
